.containerNavbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerNavbar img {
  height: 50px;
  margin-right: 10px;
}

.containerNavbar h1 {
  margin-right: 10px;
}

.contenedorTextoLogo {
  display: flex;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  text-decoration: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 488px) {
  .text {
    font-size: 1.5rem;
  }
  .contenedorTextoLogo img {
    display: none;
  }
}