.imgCharacter {
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
}

.characterInd {
    max-width: 300px;
    max-height: 400px;
    margin-top: 2rem;
    position: relative;
}

@media screen and (max-width: 540px) {

    .imgCharacter {
        max-width: 400px;
        max-height: 400px;
        border-radius: 10px;
    }

    .name {
        width: 67%;
        position: absolute;
        top: 90%;
        left: 50%;
        font-size: 0.4rem;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.name {
    position: absolute;
    top: 91%;
    left: 50%;
    font-size: 0.4rem;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.linkin {
    text-decoration: none;
}

.divName {
    background-color: black;
}

img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}